<% content_for :title, "Posts" %>

<h1 class="text-center">Posts</h1>

<section class="row justify-content-center">
  <% @posts.each do |post| %>
    <div class="col-12 col-md-4 m-3 ">
      <%= link_to post, class:"text-decoration-none text-dark" do%>
        <%= render post %>
      <% end %>
    </div>
  <% end %>
</div>
