<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1 class="text-center">Posts</h1>

<div id="posts" class="container-fluid">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>

